body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 20px;
}
h1 {
    font-weight: bold;
    font-size: 18px;
    color: olivedrab;
}
h2 {
    font-weight: bold;
    font-size: 16px;
    color: olivedrab;
}
.header,.header-inlay,.article,.article-inlay,.aside,.footer,.footer-inlay {
    box-sizing: border-box;
    border: 4px solid;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;    
}
.heading-boarder {
    display:flex;
    width:100%;
    }
    .heading-boarder div {
    width:calc(100vw / 3);
    }
    .header-bstyled {
        text-align: center;
        border-right: 5px solid coral;
        border-left: 5px solid coral;
        position: relative;
        top: -25px;
            }
    .border{
    margin-top: 18px;
    height:0px;
    border-top: 5px solid coral;
    position: relative;
    top: -25px;
    }
    .b-left{
    border-left: 5px solid coral;
    }
    .b-right{
    border-right: 5px solid coral;
    }
.header {
    border-color: coral;
    border-top: 0;
    margin-top: 25px;  
}/*
#header {
    box-sizing: border-box;
    background: #fff;
    text-align: center;
    border-left: 5px solid coral;
    border-right: 5px solid coral;
    height: 18px;
    line-height: 18px;
    width: 150px;
    margin: -11.5px auto 0;  /*height 25px + 5px border = 30/2 = 15 
    z-index: -1;
    position: relative;
    top: -5px;
    left: -320px;
}*/
.nav-box {
    display: flex;
}
.header-inlay {
    border-color: yellowgreen;
}
.nav-inlay {
    margin: 10px;
    padding: 10px; 
} 
.article {
    border-color: yellow;
}
.article-inlay {
    border-color: peachpuff;
}
.aside {
    border-color: darkseagreen;
}
.footer {
    border-color: darkkhaki;
}
.footer-inlay {
    border-color: darksalmon;
}
